@charset "UTF-8";

ol>li {
	list-style-type : none;
	float : left;
	
	background-image : url(./img/star.jpg);
	background-repeat : no-repeat;
	background-size : 11px;
	background-position : left center;
	
	padding : 0px 11px 0px 11px;
	margin : 0px 0px 0px 20px;
	
	border-collapse : collapse;
	border-right : 2px solid #000000;
	width : 50px;
}
	
li.last{
	border-right : none;
}
	
